---
title: Tarka Labs - We build web and mobile applications
---
<!-- Hero Banner
    ================================================== -->
<div id="intro">
  <div class="item" style="background: url('/images/3px.png')">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h2>We build solutions for Web and Mobile</h2>
          <h1>Great People. Brilliant Solutions.</h1>
          <p>We work with</p>
          <p class="icons">
            <i class="devicon-react-original"></i>
            <i class="devicon-apple-original"></i>
            <i class="devicon-android-plain"></i>
            <i class="devicon-postgresql-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-rails-plain"></i>
            <i class="devicon-docker-plain"></i>
          </p>
          <p><a class="btn btn-lg btn-primary scroll" href="#about" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- About Section
    ================================================== -->
<section id="about" class="content text-center light">

  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 overlay-text">
        <blockquote>
          "You can't solve a problem on the same level that it was created. You have to rise above it to the next level." - Albert Einstein
        </blockquote>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-wrench icon-large"></i>
        </div>
        <h3>Development</h3>
        <p>We will help you take your project from idea to reality. From complex internal dashboards and to high volume customer-facing sites, we have built it all. Your next project could be a disruptive idea or could be to rework on a legacy project. We are ready to make it awesome.</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-graduation-cap icon-large"></i>
        </div>
        <h3>Training</h3>
        <p> Learn from the best on how to build great software. We offer one-on-one pairing sessions as well as structured workshops. Check out our courses on Javascript, Node, React and Angular</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-lightbulb-o icon-large"></i>
        </div>
        <h3>Consulting</h3>
        <p>Our work with software does not end with code. We also help our clients with process and project structures. We offer comprehensive code quality assessments, design and quality reviews.</p>
      </div>
    </div><!-- /.row -->
  </div>

  <div class="overlay-bg light"></div>

</section>


<!-- Featured Sections
    ================================================== -->
<section id="featured1" class="dark with-bg">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 overlay-text">
        <div class="vertical-align">
          <h2>How we work?</h2>
          <p>We are an agile consulting agency who take pride in our ability to architect and deliver solutions with exemplary quality. We value transparency and collaboration and focus all our efforts on the needs of the users.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg black"></div>

</section>


<!-- Team
    ================================================== -->
<section id="team" class="dark">

  <div class="page-header text-center">
    <h2>Our Amazing Team</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="owl-example" class="owl-carousel">
          <div class="item">
            <img class="display-pic" src="/images/vagmi.jpg" alt="Vagmi Mudumbai">
            <h3>Vagmi Mudumbai</h3>
            <h4>Technology Jedi</h4>
            <p>With over 13 years of software craftsmanship and consulting under his belt, he is constantly looking to improve his skills and in search of better tools. Having worked on multiple languages and technologies ranging from Ruby, Clojure, Java, C#, Actionscript and C++, he has currently settled on Clojure, Ruby and Javascript. He loves to teach as much as he loves to learn.</p>
            <a class="icon" href="http://www.github.com/vagmi" target="_blank"><i class="fa fa-github"></i></a>
            <a class="icon" href="http://www.twitter.com/vagmi" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.linkedin.com/in/vagmi" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>

          <div class="item">
            <img class="display-pic" src="/images/dhruva.jpg" alt="Dhruva Sagar">
            <h3>Dhruva Sagar</h3>
            <h4>Vim Ninja</h4>
            <p>Dhruva has been enjoying hacking professionally for the past 8 years. He is a full stack developer who cringes everytime somebody leaves vim to the command prompt. He is also a javascript developer who does not need the crutches of frameworks to structure his code. A seasoned Ruby developer transitioning to Clojure as his primary language</p>
            <a class="icon" href="http://www.github.com/dhruvasagar" target="_blank"><i class="fa fa-github"></i></a>
            <a class="icon" href="http://www.twitter.com/dhruvasagar" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="http://in.linkedin.com/in/dhruvasagar" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>

          <div class="item">
            <img class="display-pic" src="/images/gaurav.jpg" alt="Gaurav Agarwal">
            <h3>Gaurav Agarwal</h3>
            <h4>Serial Scripter</h4>
            <p>Gaurav has an obsessive compulsive tendency to automate everything. Be it builds to bootstrap scripts for projects. He is also particularly fond of inserting whitespaces and newlines into codebases to make it more readable. He gets a high just by coding in javascript. In addition to being a full stack Ruby and Rails developer, he is keenly interested in the IoT space.</p>
            <a class="icon" href="https://github.com/gauravagarwalr" target="_blank"><i class="fa fa-github"></i></a>
            <a class="icon" href="https://twitter.com/gauravagarwalr" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="http://in.linkedin.com/in/gauravagarwalr" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/deepak.jpg" alt="Deepak Prasanna">
            <h3>Deepak Prasanna</h3>
            <h4>Eclectic Hacker</h4>
            <p>Deepak has as much love for code as he has for reading and writing fiction. He is equally comfortable with Scala, Ruby and Javascript. He is extremely excited about Functional Reactive patterns and has been researching Haskell and Elm to that effect.</p>
            <a class="icon" href="https://github.com/deepakprasanna" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/sudhakar.jpg" alt="Sudhakar Rayavaram">
            <h3>Sudhakar Rayavaram</h3>
            <h4>Software Plumber</h4>
            <p>Problem solver with 13 years of experience in software design and development across the stack. He is passionate about sensible user interfaces. Being a rookie cartoonist, Data visualizations and cartoons is his answer for effective communication of ideas</p>
            <a class="icon" href="https://github.com/rsudhakar" target="_blank"><i class="fa fa-github"></i></a>
            <a class="icon" href="https://twitter.com/sudhakarray" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="http://in.linkedin.com/in/sudhakar82" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Call to Action
    ================================================== -->
<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Have a great idea? <span class="highlight">Let us help!</span></h2>
        <p>Drop us a line at <a href="mailto:contactus@tarkalabs.com">contactus@tarkalabs.com</a></p>
      </div>
    </div>

  </div>

</section>
